version: '3'
services:
  tor-proxy:
    image: dockurr/tor
    container_name: tor-proxy
    ports:
      - 9050:9050
    networks:
      - tor-net
    profiles:
      - chrome

  ubuntu-lxde:
    image: dorowu/ubuntu-desktop-lxde-vnc
    container_name: lakshman_desktop
    env_file: /home/lakshman/Downloads/desktop/env
    ports:
      - 6080:80
    profiles:
      - desktop
      - desktop_only
    volumes:
      - /home/lakshman/Downloads/desktop:/root/Downloads
      - /home/lakshman:/hosthome:ro
    devices:
      - /dev/ppp:/dev/ppp
    cap_add:
      - NET_ADMIN
      - MKNOD

  chrome:
    image: royzheng/chrome:latest
    container_name: lakshman_chrome
    ports:
      - 6080:12345
    volumes:
      - /dev/shm:/dev/shm
      - /home/lakshman:/hosthome:ro
      - /home/lakshman/Downloads/chrome:/config/Downloads
      - ./chrome_startup.sh:/startup.sh
    extra_hosts:
      - "myhost:host-gateway"
    environment:
      - PORT=12345
    env_file: /home/lakshman/Downloads/chrome/env
    profiles:
      - chrome
      - chrome_only
    networks:
      - tor-net

networks:
  tor-net:
    driver: bridge
